body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    margin: 80px;
    height: 220px;
}
.container .card{
    display: flex;
    align-content: center;
    justify-content: center;
}

.container-fluid {
    width: 60%;
    margin: 50px auto;
    padding: 10px 12px;
    background: rgba(186, 180, 180, 0.39);
    border-radius: 4px;

}
.question{
    display: flex;
    justify-content: center;
}
.edit-delete{
    margin-left: 32px;
}

.container-fluid  .card-question {
    width: 80%;
    margin: auto;
}
/* .container-fluid  .card-question .card{
    background: #000;
    box-sizing: border-box;
} */
.container-fluid  .card-question .card .card-header{
    width: 100%;
    text-align: center;
    /* box-shadow: 1px 2px 8px 2px #aaaa; */
    margin: auto;
    /* background: rgb(4, 121, 211); */
    color: #fff;
    background: rgb(25, 96, 219);
}

#btn-submit {
    margin-left: 60px;
}
.container-fluid  .card-question .card  .form-control{
    width: auto;

}
.result{
    width: 40%;
    height: auto;
    text-align: center;
    padding: 20px;
    margin: 60px auto;
    color: #fff;
    background: rgb(78, 125, 208); 
    border-radius: 12px;
}
#btn-score{
    margin-right: 230px; 
}