body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    margin: 80px;
    height: 220px;
}
.container .card{
    display: flex;
    align-content: center;
    justify-content: center;
}
/* #start:hover(){
    top: 40%;
    background-color: blue;
    color: #fff;
    border: none;
}
#create:hover(){
    top: 40%;
    background-color: blue;
    color: #fff;
    border: none;
} */

.container-fluid {
    width: 60%;
    margin: 50px auto;
    padding: 10px 12px;
    background: rgba(186, 180, 180, 0.39);
    border-radius: 4px;

}
.question{
    display: flex;
    justify-content: center;
}
.edit-delete{
    margin-left: 32px;
}

.container-fluid  .card-question {
    width: 80%;
    margin: auto;
}
/* .container-fluid  .card-question .card{
    background: #000;
    box-sizing: border-box;
} */
.container-fluid  .card-question .card .card-header{
    width: 100%;
    text-align: center;
    /* box-shadow: 1px 2px 8px 2px #aaaa; */
    margin: auto;
    /* background: rgb(4, 121, 211); */
    color: #fff;
    background: rgb(25, 96, 219);
}

#btn-submit {
    /* position: relative;
    right: 0px; */
    margin-left: 60px;
}
.container-fluid  .card-question .card  .form-control{
    width: auto;

}
/* #btn-next:hover(){
    top: 40%;
    background-color: blue;
    color: #fff;
    border: none;
}  */

/* .card-create {
    width: 50%;
    height: 40vh;
    text-align: center;
    box-shadow: 1px 2px 8px 2px #aaaa;
    margin: 20px auto;
    padding-top: 12px;
}

.card-create1 {
    width: 50%;
    text-align: center;
    box-shadow: 1px 2px 8px 2px #aaaa;
    margin: 20px auto;
    padding-top: 12px;
    height: 48vh;
} */
/* 
input {
    margin-top: 12px;
}

#btn-add {
    position: relative;
    left: 230px;
}

#btn-add:hover(){
    top: 20%;
    background-color: blue;
    color: #fff;
    border: none;
}
.back-add{
    text-align: center;
    margin-right: 150px;
}
.contain2{
    padding-top: 18px;
} */
/* #back{
    position: relative;
    right:150px ;
} */
/* .contain3{
    width: 30%;
    text-align: center;
    box-shadow: 1px 2px 8px 2px #aaaa;
    margin: 20px auto;
    padding-top: 12px;
    height: 32vh;
} */